{% include 'includes/header.html' %}

<main>
    <section class="m-4">
	<div class="container">

		<!-- Section - Log In -->

			<!-- Log In -->
			<div class="bg-secondary border rounded col-xl-5 col-lg-6 col-md-8 col-sm-12 mx-auto p-4">
				<!-- Title -->
				<h1 class="text-center">Log in or sign up</h1>

				<hr>
                <br>
                <h5>Welcome to French Resort !</h5>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="row g-3">
                        <!-- Input - User -->
                        <div class="col-12 mb-3">
                            {{ form.email.label }}
                            {{ form.email(class="form-control", placeholder="Enter your email address") }}
                        </div>
                        <!-- Input - Password -->
                        <div class="col-12 mb-3">
                            {{ form.password.label }}
                            {{ form.password(class="form-control", placeholder="Enter your password") }}
                        </div>
                        <!-- Continue Button -->
                        <div class="col-12">
                            {{ form.submit(class="btn btn-success w-100 btn-lg fw-bold") }}
                        </div>
                    </div>

                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </form>
                <hr class="my-4">
                <p class="text-center">
                    <a href="/signup" class="btn btn-outline-light btn-sm d-block">Sign Up</a>
                </p>
            </div>
        </div>
    </section>
</main>

    {% include 'includes/footer.html' %}
