{% include 'includes/header.html' %}

<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">French Resort</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/mybookings">My Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
        </li>
    </ul>
</nav>


<main>

    
</main>

{% include 'includes/footer.html' %}
