{% include 'includes/header.html' %}

<main>
    <!-- Page Content -->
    <div class="container mt-4">

        <!-- Section - My Bookings -->
        <section>
            <!-- Title -->
            <h1 class="text-center">My Bookings</h1>

            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <!-- Table Headers -->
                        <th>#</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Room Type</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        {% for row in data %}
                        <tr>
                            <!-- Table Data -->
                            <td>{{ loop.index }}</td>
                            <td>{{ row["check_in_date"] }}</td>
                            <td>{{ row["check_out_date"] }}</td>
                            <td>{{ rooms[row["id_room"]] }}</td>
                            <td>{{ row["total_price"] }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <!-- Table Data -->
                        <td class="text-center" colspan="5">No data</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
    </div>
</main>

{% include 'includes/footer.html' %}
