{% include 'includes/header.html' %}

<main>

    <!-- Page Content -->
    <div class="container mt-4">

        <!-- Section - Sign Up -->
        <section>
            <!-- Title -->
            <h1 class="text-center">Sign Up</h1>

            <!-- Sign Up -->
            <div class="bg-light p-4 mt-4 rounded border">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <!-- Input - FirstName -->
                        <div class="form-group col-md">
                            {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
                        </div>
                        <!-- Input - LastName -->
                        <div class="form-group col-md">
                            {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
                        </div>
                        <!-- Input - Phone -->
                        <div class="form-group col-md">
                            {{ form.phone_number.label }} {{ form.phone_number(class="form-control") }}
                        </div>
                        <!-- Input - Email -->
                        <div class="form-group col-md">
                            {{ form.email.label }} {{ form.email(class="form-control") }}
                        </div>
                        <!-- Input - Password -->
                        <div class="form-group col-md">
                            {{ form.password.label }} {{ form.password(class="form-control") }}
                        </div>
                        <!-- Continue Button -->
                        <div class="form-group col-md-auto">
                            <label>&nbsp;</label>
                            {{ form.submit(class="form-control") }}
                        </div>
                    </div>
                    
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                </form>
            </div>
        </section>
    </div>
</main>


{% include 'includes/footer.html' %}